.onama1{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: solid 1px rgba(128, 128, 128, 0.548);
    margin-top: 200px;
    margin-bottom: 200px;
}

.onama1left{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.onama1right{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.onama1right2{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.onamanaslov{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    width: 100%;
}

.naslovname{
    color: transparent;
    -webkit-text-stroke: 1.5px black; 
    font-family: Oswald;
    font-weight: 300;
    font-size: 6em;
}

.onamatekst{
    text-align: center;
    font-family: Montserrat;
    font-size: 1.2em;
    font-weight: 200;
    line-height: 2em;
    width: 80%;
}

/* Tablet */
@media (max-width: 1024px) {
    .onama1{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .naslovname{
        font-size: 5em;
    }

    .onamanaslov{
        gap: 50px;
    }

    .onamatekst{
        font-size: 1em;
        line-height: 1.8em;
    }

    .onama1right img,
    .onama1right2 img{
        width: 400px !important;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .onama1{
        flex-direction: column;
        margin-top: 80px;
        margin-bottom: 80px;
        padding: 20px 0;
    }

    .onama1left{
        width: 100%;
        padding: 20px;
    }

    .onama1right,
    .onama1right2{
        width: 100%;
        justify-content: center;
        margin-top: 30px;
        padding: 0 20px;
    }

    .onamanaslov{
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
    }

    .naslovname{
        font-size: 3.5em;
        -webkit-text-stroke: 1px black;
        text-align: center;
    }

    .onamatekst{
        width: 100%;
        font-size: 1em;
        line-height: 1.8em;
        text-align: justify;
        padding: 0 10px;
    }

    .onama1right img,
    .onama1right2 img{
        width: 100% !important;
        max-width: 500px !important;
        border-radius: 15px !important;
    }
}

/* Small Mobile */
@media (max-width: 480px) {
    .onama1{
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .naslovname{
        font-size: 2.5em;
    }

    .onamatekst{
        font-size: 0.95em;
        line-height: 1.7em;
    }

    .onamanaslov img{
        width: 120px !important;
    }
}