/* src/app/globals.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Vertical lines for all pages */
body::before,
body::after {
  content: '';
  position: fixed;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(128, 128, 128, 0.548);
  z-index: 99; /* Just below the header */
  pointer-events: none; /* So they don't interfere with clicks */
}

body::before {
  left: 20%;
}

body::after {
  right: 20%;
}